<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>社区管理系统</title>
  </head>
  <body class="login">
    <div class="login-wrapper">
      <div class="content">
        <h3 class="font-green font-lg bold uppercase">社区管理系统</h3>
        <form id="login-form" method="POST" class="login-form">
          <div class="input-group input-group-lg"><span class="input-group-addon"><i class="fa fa-user fa-2"></i></span>
            <input id="login-form-username" type="text" autocomplete="off" placeholder="账号" name="login_name" class="form-control form-control-solid">
          </div>
          <div class="input-group input-group-lg"><span class="input-group-addon"><i class="fa fa-lock fa-2"></i></span>
            <input id="login-form-password" type="password" autocomplete="off" placeholder="密码" name="login_passwd" class="form-control form-control-solid"><span id="login-form-password-watch" class="input-group-addon btn"><i class="fa fa-eye fa-2"></i></span>
          </div>
          <div class="form-actions">
            <button id="login-form-submit" type="submit" class="btn btn-block btn-lg green">登录</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>