<% for(i in list){%>
  <% if(list[i].name === active[0]){ %>
  <% active.shift(); %>
  <% var status = 'active open' %>
  <% } else { %>
  <% var status = '' %>
  <% } %>
  <li class="nav-item <%= status %>">
    <% if(list[i]['children']){ %>
      <a class="nav-link nav-toggle" href="javascript:;">
        <i class="fa fa-<%= list[i]['icon'] %>"></i>
        <span class="title"><%= list[i]['label'] %></span>
        <span class="arrow <%= status %>"></span>
      </a>
      <ul class="sub-menu">
        <%=
          nav({
            list:list[i]['children'],
            nav:nav,
            layout:'sub',
            active:active
          })
        %>
      </ul>
    <% } else{ %>
      <a class="nav-link" href="#<%= list[i]['url'] %>">
        <i class="fa fa-<%= list[i]['icon'] %>"></i>
        <span class="title"><%= list[i]['label'] %></span>
      </a>
    <% } %>
  </li>
<% } %>