<div class="row">
  <div class="col-md-6">
    <form id="main-form" role="form" class="form-horizontal">
      <div class="form-group row">
        <label class="control-label col-md-3">
          <span class="required">*</span>旧密码
        </label>
        <div class="col-md-9">
          <input name="oldPassword" type="password" value="" class="form-control"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">
          <span class="required">*</span>新密码
        </label>
        <div class="col-md-9">
          <input name="password" type="password" value="" class="form-control"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">
          <span class="required">*</span>重复输入新密码
        </label>
        <div class="col-md-9">
          <input name="rePassword" type="password" value="" class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 col-md-push-3">
          <button type="submit" class="btn green">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>